<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugins" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugins</name>
    <js-module name="cordova-plugins" src="www/cordova-plugins.js">
        <clobbers target="cordova.plugins.cordova-plugins" />
    </js-module>
    <!-- dependency -->
    <dependency id="cordova-plugin-device" url="https://github.com/apache/cordova-plugin-device.git" />
    <dependency id="cordova-plugin-statusbar" />
</plugin>
